<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="static/scripts/result.js" defer></script>
    <link rel="stylesheet" href="static/styles/result.css">

    <title>McWordTearer</title>
</head>
<body>
    <ul class="tabs" id="tabnav"></ul>

    <a href="/">Go back</a>
    <br>
    <b><%=locals.block.id%>: <%=locals.block.name%></b>
    <div><%=locals.block.bits%></div>
    <div><%=locals.block.details%></div>
    
    <div class="tab-content" id="tabcontent"></div>

    <!-- Popup -->
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">x</span>
            <!-- <img id="blockimg" width="100" height="100"> -->
            <b id="blockname">Block name</b>
            <div id="bits">bits</div>  
            <div id="details" >details</div>
        </div>
    </div>
    <div id="submittedBlockDataDiv" data-submittedblock=<%-JSON.stringify(locals.block);%>></div>
    <div id="allBlocks" data-blocks=<%=locals.allBlocks;%>></div>
</body>
</html>