<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="static/scripts/result.js" defer></script>
    <link rel="stylesheet" href="static/styles/result.css">

    <title>McWordTearer</title>
</head>
<body>
    <ul class="tabs" id="tabnav">
        <li class='active tab' data-tab-target="#white">White</li>
        <li class='tab' data-tab-target="#orange">Orange</li>
        <li class='tab' data-tab-target="#magenta">Magenta</li>
        <li class='tab' data-tab-target="#light-blue">Light Blue</li>
        <li class='tab' data-tab-target="#yellow">Yellow</li>
        <li class='tab' data-tab-target="#lime">Lime</li>
        <li class='tab' data-tab-target="#pink">Pink</li>
        <li class='tab' data-tab-target="#gray">Gray</li>
        <li class='tab' data-tab-target="#light-gray">Light Gray</li>
        <li class='tab' data-tab-target="#cyan">Cyan</li>
        <li class='tab' data-tab-target="#purple">Purple</li>
        <li class='tab' data-tab-target="#blue">Blue</li>
        <li class='tab' data-tab-target="#brown">Brown</li>
    </ul>

    <div class="tab-content">
        <div class='active' id="white" data-tab-content>
            <p>The wordtearing needs to take place in the location from the white wool block</p>
        </div>
        <div id="orange" data-tab-content>
            <p>The wordtearing needs to take place in the location from the orange wool block</p>
        </div>
        <div id="magenta" data-tab-content>
            <p>The wordtearing needs to take place in the location from the magenta wool block</p>
        </div>
        <div id="light-blue" data-tab-content>
            <p>Light Blue content</p>
        </div>
        <div id="yellow" data-tab-content>
            <p>Yellow content</p>
        </div>
        <div id="lime" data-tab-content>
            <p>Lime content</p>
        </div>
        <div id="pink" data-tab-content>
            <p>Pink content</p>
        </div>
        <div id="gray" data-tab-content>
            <p>Gray content</p>
        </div>
        <div id="light-gray" data-tab-content>
            <p>Light Gray content</p>
        </div>
        <div id="cyan" data-tab-content>
            <p>Cyan content</p>
        </div>
        <div id="purple" data-tab-content>
            <p>Purple content</p>
        </div>
        <div id="blue" data-tab-content>
            <p>Blue content</p>
        </div>
        <div id="brown" data-tab-content>
            <p>Brown content</p>
        </div>
    </div>

    <a href="/">Go back</a>
    <br>
    <b><%=locals.block.id%>: <%=locals.block.name%></b>
    <div><%=locals.block.firstFourBits%> <%=locals.block.lastNineBits%></div>
    <div><%=locals.block.details%></div>
    <br>
    <div class='column_holder'>
        <div id="first_blocks_column" class="block_column">
            <b>First block options:</b>
            <div id="first_blocks_column_grid" class="grid" data-blocks="<%=locals.first_blocks%>"></div>
        </div>
        <div id="last_blocks_column" class="block_column">
            <b>Second block options:</b>
            <div id="last_blocks_column_grid" class="grid" data-blocks="<%=locals.last_blocks%>"></div>
        </div>
    </div>
    <!-- Popup -->
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">x</span>
            <!-- <img id="blockimg" width="100" height="100"> -->
            <b id="blockname">Block name</b>
            <div id="bits"><b>4bits</b>9bits</div>  
            <div id="details" >details</div>
        </div>
    </div>
</body>
</html>